@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "mixins";

/*
COLORS
*/
$header: #C0C5C7;
$footer: #EEEFF3;

html, body {
  height: 100%;
}
body {
  font-family: "Work Sans", sans-serif;
  background: linear-gradient(-45deg, #BEBBBB70 10%, #44405499);
  background-attachment: fixed;
}


$radiusValue: 7px;

.header {

}


.container {
  height: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: grid;

  background: linear-gradient(to top, $header 40%, $footer 70%);

  -webkit-border-top-left-radius: $radiusValue;
  -moz-border-top-left-radius: $radiusValue;
  border-top-left-radius: $radiusValue;

  -webkit-border-top-right-radius: $radiusValue;
  -moz-border-top-right-radius: $radiusValue;
  border-top-right-radius: $radiusValue;

  -webkit-border-bottom-left-radius: $radiusValue;
  -moz-border-bottom-left-radius: $radiusValue;
  border-bottom-left-radius: $radiusValue;

  -webkit-border-bottom-right-radius: $radiusValue;
  -moz-border-bottom-right-radius: $radiusValue;
  border-bottom-right-radius: $radiusValue;

  @include shadow();
}

/*****
SHORTCUTS
*****/
@import "shortcuts";